page-part-to-vehicle {
    .toolIcon{
        font-size: 5em;
        text-align: center;
        border-color: #6bb9f0;
        border-radius: 5px;
        border-style: solid;
        box-shadow: 0 0 29px -7px #6bb9f0;
        padding: 0.5em;
    }

}
